#featured {
    background-image: url('../imgs/BoardBackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.text-box {
    margin-top: 20%;
    padding: 5%;
    width: 45%;
}

.text-box h3, p {
    color: white;
} 

.board-div {
    position: absolute;
    top: 130%;
    right: 0;
}

#featured img {
    width: 70%;
}