#footer {
    background-color: black;
    width: 100%;
    position: relative;
    bottom: 0;
    /* negative value of footer height */
    height: 15vh;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #54f363;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

}

.footer-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.footer-a img {
    width: 50%;
}

.footer-a img:hover {
    transform: scale(110%);
}

.socials-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-logo {
    width: 25%;
}