#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;

}

.footer-img {
    width: 10%;

}

.footer-a {
    display: flex;
    justify-content: center;
    align-items: center;
}

