.home-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100vh;
    margin-top: 5%;
  }

video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
  }