.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    margin: 0;
    background-color: rgba(124, 124, 124, 0.0);
    width: 50%;
}

.nav {
    display: flex;
    justify-content: center;
}

.link-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    margin-right: 2%;
}

a {
    text-decoration: none;
    color: #54f363;
    position: relative;
}

.nav-a::after {
    border-bottom: 3px solid black;
    border-radius: 10px;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .1rem;
    left: 0;
    transition: right .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-a:hover::after {
    right: 0;
}

li {
    padding-left: 3%;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
}

.mtn-logo {
    width: 40%;
}

.mtn-a {
    width: 30%;
}
