#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    border: 1px solid red;
}

.footer-img {
    width: 10%;

}

