.nav-bar {
    display: flex;
    margin: 0;
}

.link-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    align-items: center;
    margin-right: 2%;
}

a {
    text-decoration: none;
}

li {
    padding-left: 1.5%;
    text-decoration: none;
    font-size: 1.2rem;
}

#mtn-logo {
    background-image: url("./imgs/mtn_srf.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    height: 10vh;
    width: 10%;
}
