.nav-bar {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    margin: 0;
    background-color: rgba(124, 124, 124, 0.0);
}

.link-list {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    width: 95%;
    align-items: center;
    margin-right: 2%;
}

a {
    text-decoration: none;
    color: #54f363;
}

li {
    padding-left: 1.5%;
    text-decoration: none;
    font-size: 1.2rem;
}

#mtn-logo {
    background-image: url("./imgs/mtn_srf.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    height: 7vh;
    width: 5%;
}
