.nav-bar {
    display: flex;

}

.link-list {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

#mtn-logo {
    /* background-image: url("./components/imgs/mtn_srf.png"); */
    display: flex;
    justify-content: start;
}

#surf-logo {
    width: 20%;
    
}
  